.form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-grid .column {
  flex: 1 1 calc(50% - 20px); /* Faz as colunas ocuparem metade da largura */
  box-sizing: border-box;
}

.form-grid .columnbtn {
  box-sizing: border-box;
  flex: 40%;
}

@media (max-width: 768px) {
  .form-grid .column {
    flex: 1 1 100%; /* Ajusta para uma coluna em telas menores */
  }
}
/* ----INICIO PROCESSO SELETIVO--- */

.col_resps ol,
.col_resps ul {
  list-style: none;
}

.col_resps ul li {
  float: left;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #000000;
  opacity: 0.5;
  text-align: left;
  font-size: 15px;
}

.col_resps ul li:hover {
  opacity: 1;
}

.col_resps ul li.ativo {
  opacity: 1;
}

.col_resps ul li span {
  float: left;
  width: 100%;
  cursor: pointer;
  position: relative;
  padding-right: 30px;
  font-family: montserrat;
  font-weight: 700;
  font-size: 1.4em;
}

.svg-inline--fa {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  color: #000000;
}

.col_resps ul li span .fa-caret-down {
  display: block;
}

.col_resps ul li.ativo span .fa-caret-up {
  display: block;
}

.col_resps ul li.ativo span .fa-caret-down {
  display: none;
}
.central_atendimento svg {
  height: 35px;
  width: 35px;
}

.col_resps ul li p {
  display: none;
  float: left;
  width: 100%;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 25px;
}

.central_blc_info .horario {
  float: left;
  width: 100%;
  text-align: left;
  font-size: 15px;
  color: #1d1915;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 35px;
}

.central_blc_info ul li a {
  display: inline-block;
  padding: 8px 0px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 19px;
  font-size: 15px;
  font-weight: 700;
  color: #1d1915;
}

/* ----END PROCESSO SELETIVO--- */

html.cinematico-theme .with-kubio-global-style,
html.cinematico-theme .with-kubio-global-style p,
html.cinematico-theme .wp-block-woocommerce-mini-cart-contents,
html.cinematico-theme [data-kubio],
html.cinematico-theme [data-kubio] p,
html.cinematico-theme p[data-kubio] {
  color: #ffffff00;
  font-family: Poppins, Helvetica, Arial, Sans-Serif, serif;
  font-size: 0px;
  font-weight: 0;
  line-height: 0;
  text-transform: none;
}
